<div class="container pt-5">
  <div class="row">
    <div class="col-6">
      <h1 class="mat-headline">About AngularJS</h1>
      <h3 class="mat-subheading">
        AngularJS is an open-source application that is used to develop frontend
        applications. Angular is a structural framework to build web
        applications, AngularJS can render the code into HTML & CSS to become
        understandable for the web browser. Angular is a component-based
        framework that is composed of a collection of integrated libraries. It
        covers a mixture of features that are supported with a set of developer
        tools to build and test applications. Angular is designed to make the
        applications scalable and easy to update. Angular uses TypeScript as the
        main programming language.
      </h3>
      <div class="pt-5">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/AngularJS_logo.svg/800px-AngularJS_logo.svg.png"
          alt="Angular Image"
        />
      </div>
    </div>
  </div>
</div>
