<nav>
  <mat-toolbar color="primary">
    <mat-list-item class="navbar-brand">
      <h2>ECOMZ TEST</h2>
    </mat-list-item>
    <mat-nav-list
      class="d-flex justify-content-start align-items-center"
      style="padding-left: 16px"
    >
      <mat-list-item>
        <a matLine routerLink="/" routerLinkActive="active">Home</a>
      </mat-list-item>
      <mat-list-item class="align-middle">
        <a matLine routerLink="/definition" routerLinkActive="active"
          >What is Angular?</a
        >
      </mat-list-item>
    </mat-nav-list>
  </mat-toolbar>
</nav>
<router-outlet></router-outlet>
